
body{
   display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    text-align: center;
}

.main-menu{
    width: 100%;
   text-align: center; 
}

.opt-menu{
    display: flex;
    justify-content:center;
    width: 100%;
    font-size: 22px;
    margin: 10px 0 30px;
    padding: 0;
}
.opt-menu li{
    list-style: none;
}

.opt-menu a {
    padding: 10px 20px;
    color: rgb(14, 14, 245);
 }

 .opt-menu a:hover{
    background-color: #be4bdb;
    color: black;
    border: 1px solid black;
    cursor: pointer;
 }
.container{
    text-align: center;
}
.formulario{
    background-color: rgb(92, 89, 248);
    width: 50%;
    border-radius: 10%;
    text-align: center;
}

.form-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-form{
    margin-bottom: 2%;
    
}
.input-form > div{
    width: 30%;
    float: left;
    text-align: right;  
}

.input-form input[type="text"],
.input-form input[type="number"],
.input-form input[type="date"],
.input-form input[type="email"],
.input-form input[type="password"] {
    width: 30%;
}

.form-button{
    text-align: center;
}

.form-button button{
    
    background-color: #be4bdb;
    color: black;
    border-radius: 80%;
    width: 60px;
    height: 60px;
    margin: 3% auto;
    border-color: white;
}

footer{
    text-align: center;
    color: black;
}

.fa-cat{
    color:black;
}
/*-------resultado*/

.formulario-result{
    background-color: #be4bdb;
    width: 50%;
    border-radius: 10%;
    text-align: center;
    margin-top: 3%;
}

.resultado-flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}
 

